# 告知 Lombok 此为项目根目录
config.stopBubbling = true

# 将生成的 toString() 方法添加对父类方法的调用
lombok.tostring.callsuper = CALL
# 将生成的 equals(), hashCode() 方法添加对父类方法的调用
lombok.equalsandhashcode.callsuper = CALL
# 将生成的 setter 方法设置为返回当前对象
lombok.accessors.chain = true
# 将所有未指明访问修饰符的字段设置为 private
lombok.fieldDefaults.defaultPrivate = true
